@use '@/styles/global.scss';

.select {
  padding: 0.5rem 1.2rem;
  border-radius: 1rem;
  margin-left: 1.5rem;
  appearance: none;
  font-size: inherit;
  font-family: inherit;
  border-color: global.$light-gray;
}