@use '@/styles/global.scss';

.panel {
  display: flex;
  gap: 1.5rem;

  & span {
    font-size: 1.4rem;
  }

  ul {
    display: flex;
    gap: 2rem;

    & li {
      font-size: 1.4rem;
      color: global.$dark-grey;
      cursor: pointer;

      &:hover {
        color: global.$orange;
      }

      &.active {
        color: global.$orange;
        font-weight: 600;
      }
    }
  }
}