@use '@/styles/global.scss';

.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .panel {
    display: flex;
    gap: 1.5rem;

    & span {
      font-size: 1.4rem;
    }

    ul {
      display: flex;
      gap: 2rem;

      & li {
        font-size: 1.4rem;
        color: global.$dark-grey;
        cursor: pointer;

        &:hover {
          color: global.$orange;
        }

        &.active {
          color: global.$orange;
          font-weight: 600;
        }
      }
    }
  }

  .quantity {
    font-size: 1.4rem;

    & select {
      padding: 0.5rem 1.2rem;
      border-radius: 4rem;
      margin-left: 1.5rem;
      appearance: none;
      font-size: inherit;
      font-family: inherit;
    }
  }
}