// font

// colors
$black: #230800;
$white: #ffffff;
$dark-grey: #605346;
$light-gray: #EDEDED;
$orange: #FF773D;

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  color: $black;
}

h1,
h2,
h3,
h4,
h5,
h6,
button {
  font: inherit;
}

a {
  color: unset;
}
a,
a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

button {
  border: 0;
  background: transparent;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 4rem;
}

:global(.container) {
  max-width: 125rem;
  width: 100%;
  margin: 0 auto;
}