@use '@/styles/global.scss';

.wrapper {
  margin-top: 4rem;
  height: fit-content;
  padding: 1.5rem 2.5rem 5rem;
  border: 0.1rem solid global.$light-gray;
  border-radius: 4rem;

  h3 {
    font-size: 2rem;
    margin-bottom: 2rem;
  }

  ul {
    display: flex;
    flex-wrap: wrap;
    gap: 0.7rem;

    li {
      width: fit-content;
      padding: 0rem 1rem;
      font-size: 1.2rem;
      background-color: global.$backdrop;
      border-radius: 4rem;
      cursor: pointer;

      &:hover {
        color: global.$orange;
      }
    }
  }
}